contentDir 'content/'
contentExt '.content'
outputDir 'docs/'
outputExt '.html'
scriptExt '.ts'
defaultTemplate 'template/page.template'

backupScripts 1

buildThreads -1

incrementalMode -2022

terminal 'normal'

unixTextEditor 'nano'
winTextEditor 'notepad'

rootBranch '##unset##'
outputBranch '##unset##'
